:root {

    --primary: #08055D;
    ;
    ;
}

.btn {

    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #5D1400;
    color: #fff;
    ;
    transition: 500ms;
}

.btn--primary {
    background-color: var(--primary);

}

.btn--outline {

    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: ease-out;
}

.btm--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;

}

.btm--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;

}