.NavBarItems {
    /* background: green; */
    background: linear-gradient(90deg, rgb(110, 94, 254), 0%, rgba(73, 63, 252, 1)), 100%;

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {

    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    /* align-items: flex-start; */
}

.faCampground {

    margin-left: 0.5rem;
    font-size: 1.6rem;
    color: #fff;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    /* border: solid red; */

}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #ff7c55;
    border-radius: 4px;
    color: rgba(73, 63, 252, 1);
    transition: all 500ms ease-out;

}

.burger {
    color: #fff;
}


/* SignUp hidden for mobile */
.nav-links-mobile {
    display: none;

}

/* burger display hidden for mobile */
.menu-icon {
    display: none;

}

.li {
    list-style-type: none;
}

@media screen and (max-width: 500px) {
    .NavBarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        text-align: center;

    }

    .nav-menu-active {
        background: #6668f4;
        margin-top: 23em;
        left: 0;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        /* border: solid green 10px; */
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {

        display: block;
        position: absolute;
        top: o;
        right: 0;
        transform: translate(-100%, 0%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .faTimes {
        color: #fff;
        font-size: 2rem;
        ;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;

    }

    .navbar-logo {
        margin: .25rem;


    }


}


/* nav {
    border: solid black 5px;
    background-color: aqua;
    font-size: 20px;
    margin: 2em;

}

.test {

    border: solid black 5px;
    background-color: aqua;
    font-size: 20px;
    margin: 2em;
    text-align: center;

} */