.App {

  overflow: auto;
  background-color: #fff;
  text-align: center;

}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 2px;

  max-width: 1150px;
  margin: auto;

}