.login-root {
  height: 100vh;
  background-color: #5D1400;
  padding: 10%;




}

.login {
  background-color: #08055D;
  font-size: 20pt;
  width: 30vw;
  border-radius: 5%;
  /* height: 70%; */
  margin-top: 5;
  height: 20em;
  margin: auto;
  border: solid #5D1400;
  ;

}

.login-contianer {
  /* height: 100%; */
  background-color: #08055D;
  resize: horizontal;
  resize: vertical;
  overflow: auto;
  margin-bottom: 0;



}

.login-faCampground {
  color: #fff;
  text-align: center;
  background-color: #08055D;
  margin: 0;

}



.login form {
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login label {
  display: inline-block;
  width: 6em;
  text-align: center;
  margin-right: 0.5rem;
  color: #fff
}

.login input {
  font: inherit;
  margin-bottom: 0.5em;
}

.login button {
  font: inherit;
  font-weight: 900;
  width: 10rem;
  padding: .25em .25em;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(72, 22, 22);
  /* margin-top: 1em; */

  justify-content: center;

}



.login button:hover {
  filter: brightness(90%);
}

.login button[type="button"] {
  background-color: #5D1400;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
  display: flex;


}

.login button[type="submit"] {
  background-color: #5D1400;
  margin: auto;
  width: 6em;
  margin-bottom: 1.5em;
  ;
}



.login .email-taken {
  outline-color: red;
}

.login .email {
  position: relative;
}

.login .error-message {
  color: red;
  font-size: 12pt;
  position: absolute;
  right: 1em;
  bottom: 100%;
}

.login .shake {
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;

  animation-name: shake;
  animation-duration: var(--animationTime);
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

/* 
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
    outline-color: black;
  }

  20% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }

  35% {
    transform: translate(3rem, 0) rotate(3deg);
    outline-color: red;
  }

  50% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }

  65% {
    transform: translate(3rem, 0) rotate(3deg);
    outline-color: red;
  }

  80% {
    transform: translate(-3rem, 0) rotate(-3deg);
    outline-color: red;
  }

  100% {
    transform: translate(0, 0) rotate(0);
    outline-color: black;
  }
} */